/*
COLORS::after

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Using a universal selector to reset all components on the page for all browsers*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Change box model so that the borders and paddings are no longer added */
}

/* Setting the font on the body so it is inherited on the entire page. Font is always set in the body */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

/* Setting up the header */
.header {
  height: 95vh; /* The height should be 95% of the viewport height*/
  background-image: linear-gradient(
    to right bottom, 
    #7ed56fa8,
    #28b485bb),
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top; /* Keep the top of the image at top of page */
  position: relative;
  /* Change the shape of the header */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute; /* The position is relative to the parent element.  That is the header so we need to set that position to relative */
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* The above position is relative to the parent element, translate in relation to the element itself*/
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /* Makes sure the animation doesn't shift afterwards (happens sometimes) */
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation: moveInLeft 2s;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 2s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); /* Moves 100px on the x axis*/
  }

  80% {
    transform: translateX(20px); /* Pushes it 20px to the left prior to coming back to default */
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* Takes it to default*/
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); /* Moves 100px on the x axis*/
  }

  80% {
    transform: translateX(-20px); /* Pushes it 20px to the left prior to coming back to default */
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* Takes it to default*/
  }
}