.navigation {


  &__checkbox {
    display: none; // Do not need to see
  }

  &__button {
    // Since using checkbox, put the btn on top of the bg
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .4);
    text-align: center; // For nav icon

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    // Create circle
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);

    z-index: 1000; // Ensure it doesn't get hidden
    transition: all .8s;

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }

  }

  &__nav {
    height: 100vh; // We want the nav to take up the entire screen
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    // Hide nav
    opacity: 0;
    width: 0;
    transition: all .9s;

    @include respond(phone) {
      transition: all .3s
    }
  }

  &__list {
    @include centerHorizontal-Vertical;  // center the nav on the page
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block; // Needed so padding will and shifting right animation will work
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-transform: uppercase;
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 225%; // Needed to make the below animation work.  Shifting the bg color for the animation.
      transition: all .5s;

      @include respond(phone) {
        background-size: 250%;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // Hit the label, checkbox is checked, nav becomes visible.  Get the bg sibling
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  // Same for nav
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // Icon created from scratch
  &__icon {
    position: relative;
    margin: 2rem;
    font-size: 3.5rem;
    transition: transform .2s;

    &:active{
      transform: rotate(90deg);
    }

    // &,
    // &::before,
    // &::after {
    //   width: 3rem;
    //   height: 2px;
    //   background-color: $color-grey-dark-3;
    //   display: inline-block;
    // }

    // &::before,
    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    // }

    // &::before {top: 1rem;}
    // &::after {top: 1rem;}

  }

}