.form {

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit; // Inputs have a default font, need to inherit
    color: inherit;
    padding: 1.5rem 2rem; // standard to have more on sides for buttons
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent; // Transparent until focused
    width: 90%;
    display: block;
    transition: all .5s; // Bot-bor slowly changes color

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark; // Change bot-bor if invalid
    }

    // Allows to style the placeholder element
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    display: block; // Allows us to use below box model properties
    margin-left: 2rem;
    margin-top: .7rem;
    transition: all .3s;
  }

  // Selecting the input placeholder and sibling with adjacent sibling selector. 
  &__input:placeholder-shown + &__label {
    opacity: 0; // allows for animation
    visibility: hidden; // hide element
    transform: translateY(-4rem); // Element drops down in animation
  }

  &__radio-group {
    display: inline-block;
    width: 45%;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  // Hiding default radio btns for below custom
  &__radio-input {
    display: none;
  }

  // Custom radio buttons
  &__radio-button {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: -.4rem;

    // Using after suedo element for the inside green btn element
    &::after {
      content: ""; // must be set for suedo class
      display: block;
      background-color: $color-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      // Center in the above circle
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s;
    }
  }

  // Selecting all radio btns that are checked to allow custom btns to work
  // Once checked, select sibling child (span/custom btn)
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}