@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); /* Moves 100px on the x axis*/
  }

  80% {
    transform: translateX(1rem); /* Pushes it 20px to the left prior to coming back to default */
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* Takes it to default*/
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); /* Moves 100px on the x axis*/
  }

  80% {
    transform: translateX(-1rem); /* Pushes it 20px to the left prior to coming back to default */
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* Takes it to default*/
  }
}